@import "tailwindcss";

@theme {
  --font-nebula: var(--font-nebula), system-ui, sans-serif;
  --font-nebula-hollow: var(--font-nebula-hollow), system-ui, sans-serif;
}

body {
  background:black;
  color:white;
}
